body {
    background-color: rgb(248, 245, 230); 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    margin: 50px;
}

@media (max-width: 770px) {
    .contaienr {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}